@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*this is the anchor tag styling (.btn is an a tag focusing only on the back to home btns)*/
.btn{
  color: black;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 6px 17px 6px 17px;
  font-size: 1.5em;
}

.btn:hover{
  opacity: 0.6;
}

.btn:active{
  opacity: 0.4;
}

/*this is the font weight for p elems*/

p,li{
  font-weight: 100;
  font-size: 1.5em;
  list-style: none;
  
}


/* this is for the symbols class and symbolholder and symbolandtextholder, all of them should have similar characteristics*/
.content{
  font-family: roboto;
}

.symbolandtextholder{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.symbolholder{
  width: 133px; /* to lock the width to be similar to the height*/
  padding: 20px 20px 20px 20px;
  background-color: rgb(26, 189, 26);
  text-align: center;
  border-radius: 250px;
}
.symbols{
  display: inline;
  width: 133px; /* this width is similar to the height for easy modification*/
  color: white;
  font-size: 100px;
  margin: 0 0 0 0;
}

/*for failiure*/

#wrongsymbolholder{
  background-color: red;
}

